# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Secrets
.env
*.pem
*.key
secrets/

# Donnees locales
data/
*.parquet
*.csv
*.duckdb

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Airflow
airflow/logs/
