# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
.venv/
*.egg-info/
dist/
build/

# Secrets
.env
*.pem
*.key
secrets/

# Données locales (ne jamais commit des données)
data/
*.parquet
*.csv

# Logs
logs/
*.log
airflow/logs/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml

# MLflow
mlflow.db
mlruns/

# DuckDB
*.duckdb
*.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Claude Code
.claude/
